<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrar usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="form-card">
        <div class="btn-container">
          <ion-button expand="block" color="primary" (click)="modalUser()">
            Crear Usuario
          </ion-button>
        </div>
  </ion-card>
  

  <!-- Tabla -->
  <ion-card class="table-card">
    <ion-grid>
      <ion-row class="table-header">
        <ion-col size="2">ID</ion-col>
        <ion-col size="3">User Name</ion-col>
        <ion-col size="3">Role</ion-col>
        <ion-col size="2">Enabled</ion-col>
        <ion-col size="2">Acciones</ion-col>
      </ion-row>

      <ion-row *ngFor="let user of usersList" class="table-row">
        <ion-col size="2">{{ user.userId }}</ion-col>
      <ion-col size="3">{{ user.username }}</ion-col>
      <ion-col size="3">{{ user.role }}</ion-col>
      <ion-col size="2">
        <ion-icon *ngIf="user.enabled" name="checkmark-circle" color="success"></ion-icon>
        <ion-icon *ngIf="!user.enabled" name="close-circle" color="danger"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-button color="primary" fill="outline" size="small" (click)="modalUser(user.userId)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button color="danger" fill="outline" size="small" (click)="delete(user.userId)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>

<ion-toast
  [isOpen]="showToast"
  [message]="toastMessage"
  [color]="toastColor"
  duration="2000"
  position="top"
  (didDismiss)="showToast = false">
</ion-toast>