<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="users" href="/tabs/users">
      <ion-icon name="people"></ion-icon>
      <ion-label>Users</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="clients" href="/tabs/clients">
      <ion-icon name="barbell"></ion-icon>
      <ion-label>Clients</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="memberships" href="/tabs/memberships">
      <ion-icon name="card"></ion-icon>
      <ion-label>Memberships</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="employees" href="/tabs/employees">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label>Empleados</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="clients-memberships" href="/tabs/clients-memberships">
      <ion-icon name="card"></ion-icon>
      <ion-label>Clients Memberships</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
