<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Membresia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="form-card">
    <div class="btn-container">
      <ion-button expand="block" color="primary" (click) = "modalMembership()">
        Crear Membresia
      </ion-button>
    </div>
  </ion-card>

  <!-- Tabla -->
  <ion-card class="table-card">
    <ion-grid>
      <ion-row class="table-header">
        <ion-col size="2">id</ion-col>
        <ion-col size="2">Tipo</ion-col>
        <ion-col size="2">Descripción</ion-col>
        <ion-col size="2">Costo</ion-col>
        <ion-col size="2">Estado</ion-col>
        <ion-col size="2">Acciones</ion-col>
      </ion-row>
      <ion-row *ngFor="let membership of membershipsList" class="table-row">
        <ion-col size="2">{{membership.membershipId}}</ion-col>
        <ion-col size="2">{{membership.type}}</ion-col>
        <ion-col size="2">{{membership.description}}</ion-col>
        <ion-col size="2">{{membership.cost}}</ion-col>
        <ion-col size="2">
          <ion-icon *ngIf="membership.enabled" name="checkmark-circle" color="success" size="large"></ion-icon>
          <ion-icon *ngIf="!membership.enabled" name="close-circle" color="danger" size="large"></ion-icon>
        </ion-col>
        <ion-col size="2">
          <ion-button color="primary" fill="outline" size="small" (click)="modalMembership(membership.membershipId)">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button color="danger" fill="outline" size="small">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>


</ion-content>
