<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registrar membresias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrar membresias</ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- Formulario -->


  <!-- Tabla -->

  <ion-card class="table-card">
    <ion-grid>
      <ion-row class="table-header">
        <ion-col size="2">ID</ion-col>
        <ion-col size="2">Tipo</ion-col>
        <ion-col size="2">Descripción</ion-col>
        <ion-col size="2">Costo</ion-col>
        <ion-col size="2">Estado</ion-col>
        <ion-col size="2">Acciones</ion-col>
      </ion-row>

      <ion-row *ngFor="let membership of membershipsList" class="table-row">
        <ion-col size="2">{{ membership.membershipId }}</ion-col>
        <ion-col size="2">{{ membership.type }}</ion-col>
        <ion-col size="2">{{ membership.description }}</ion-col>
        <ion-col size="2">{{ membership.cost }}</ion-col>
        <ion-col size="2">{{ membership.enabled }}</ion-col>
        <ion-col size="2">
          <ion-button color="danger" fill="outline" size="small" (click)="confirmDeleteMembership(membership.membershipId)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-card>



</ion-content>
